.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: var(--transparent-blue);
  z-index: 2;
}
